.main-wrapper{
  padding: 70px 3% 0 3%;
}

.table-wrapper{
  padding: 0 5%;
}
.login{
  position: absolute;
  right: 0;
  text-align: right;
}

#site_logo{
  margin-right: 35px;
  font-size: 22px;
}
.navbar-brand{
  padding-bottom: 0;
}
.bg-success{
  color: white;
}
.nav-item{
  margin-left: 15px;
}
.for-form{
  width: 300px;
  display: block;
  margin: auto;
  /* padding: 20% 20%; */
}
.form-login-wraper{
  margin-top: 25%;
  text-align: center;
  align-items: center;

}

/* Реквизиты */
.coll-block {
  margin-top: 50px;
  display: inline-block;
  width: 49%;
  text-align: center;
  vertical-align: middle;
  line-height: 13px;
}
.buttons{
  margin: 15px 0;
}
.buttons a{
  margin-right: 5px;
}
/* ICONS */

.icon-block{
  display: inline-block;
  }
  
  i{
  color: #74c0fc;
  position: right;
  margin-right: 10px;
  }
  .fa-address-book{
  font-size: 25px;
  
  
  }
  
  .fa-lock{
  font-size: 18px;
  margin-right: 20px;
  }
  
  .fa-user-edit{
  font-size: 18px;
  }
