{% load static %}
<h1 style="display: none">Django</h1>
<!-- css -->
<!-- <link rel="stylesheet" href="{% static 'office/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="{% static 'office/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'office/styles.css' %}">
<link rel="stylesheet" href="{% static 'office/flag-icon.min.css' %}">
<!-- js -->
<script src="{% static 'office/jq.js' %}"></script>
<script src="{% static 'office/popper.min.js' %}"></script>
<!-- <script src="{% static 'office/bootstrap.bundle.js' %}"></script> -->
<script src="{% static 'office/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'office/main.js' %}"></script>

<!--ICONS-->
<script src="https://kit.fontawesome.com/0960a95ef5.js" crossorigin="anonymous"></script>


<!-- НАчало сайта -->
<head>
<!-- <title>Django</title> -->

<!--  <link rel="shortcut icon" href="{% static 'office/favicon.svg' %}" type="image/svg">-->
</head>
<body>

    
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        
        <div class="container-fluid">
          
          <!-- <a class="navbar-brand" href="#">
          </a> -->
          <a class="navbar-brand  h5"  href="#" id="site_logo"><span style="color:#20aa76;">D</span>JANGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse clearfix" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'office:sites' %}">Сайты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'office:campanings' %}">Кампании</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'office:domains' %}">Домены</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'office:requisites' %}">Реквизиты</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Обновить
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'office:update_sites' %}">Список сайтов</a></li>
                  <li><a class="dropdown-item" href="{% url 'office:get_site_title' 0 %}">Заголовки сайтов</a></li>
                  <li><a class="dropdown-item" href="{% url 'office:get_site_title' 1 %}">Заголовки сайтов(все)</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="{% url 'office:old_lands' %}">Архив прокл</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ссылки
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="https://cp.beget.com/sites" target="_blank">Сайты</a></li>
                  <li><a class="dropdown-item" href="https://cp.beget.com/domains" target="_blank">Домены</a></li>
                  <!-- <li><a class="dropdown-item" href="{% url 'office:old_lands' %}" target="_blank">Архив прокл</a></li> -->
                  <li><a class="dropdown-item" href="/admin">Admin</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown login" >
                <a class="nav-link dropdown-toggle" ata-bs-display="static" href="#" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username  }}
                </a>
                <ul class="dropdown-menu position-sticky dropdown-menu-dark"  aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Информация</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
                   
              </li>
              {% else %}
              <style>
                #navbarNavDropdown{
                  flex-grow: 0;
                }
              </style>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
              </li>
              {% endif %}
            </ul>
            
          </div>
         
          <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <ul class="navbar-nav ">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" ata-bs-display="static" href="#" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User
                </a>
                <ul class="dropdown-menu dropdown-menu-sm-start"  aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                  <li><a class="dropdown-item" href="#">Информация</a></li>
                </ul>
                
                {% else %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Войти</a>
              </li>
              {% endif %}
            </ul>
          
          </nav> -->
        </div>
     
      </nav>
<!-- <script>
  $('nav a').click(function(){
  $('nav ul').removeClass('show')
  })
</script> -->


{% block content %}
{% endblock %}
<!-- </body>
</html> -->