{% load static %}
<h1 style="display: none">Django</h1>

<link rel="stylesheet" href="{% static 'office/styles.css' %}">
<script src="{% static 'office/jq.js' %}"></script>
<script type="text/javascript" src="{% static 'office/main.js' %}"></script>
<!--ICONS-->
<script src="https://kit.fontawesome.com/0960a95ef5.js" crossorigin="anonymous"></script>


<!-- НАчало сайта -->
<head>
<title>Django</title>

<!--  <link rel="shortcut icon" href="{% static 'office/favicon.svg' %}" type="image/svg">-->
</head>
<body>

    <section class="navigation" style="margin:-100px;">
        <div class="nav-container">
          <div class="brand">
            <a href="{% url 'office:sites' %}" style="back"><span style="color:#20aa76;">D</span>jango</a>
          </div>
          <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
              <li>
                <a href="{% url 'office:sites' %}">Сайты</a>
              </li>
              <li>
                <a href="{% url 'office:domains' %}">Домены</a>
              </li>
              <li>
                <a href="{% url 'office:requisites' %}">Реквизиты</a>
              </li>
              <li>
                <a href="#!">Обновить</a>
                <ul class="nav-dropdown">
                  <li>
                    <a href="{% url 'office:update_sites' %}">Список сайтов</a>
                  </li>
                  <li>
                    <a href="{% url 'office:get_site_title' 0 %}">Заголовки сайтов</a>
                  </li>
                  <li>
                    <a href="{% url 'office:get_site_title' 1 %}">Заголовки сайтов(все)</a>
                  </li>
                  <!-- <li>
                    <a href="#!">Graphic Design</a>
                  </li> -->
                </ul>
              </li>
              <li>
                <a href="{% url 'office:checker' 666 %}">Checker</a>
              </li>
              <li>
                <a href="#!">Portfolio</a>
                <ul class="nav-dropdown">
                  <li>
                    <a href="https://cp.beget.com/sites" target="_blank">Сайты</a>
                  </li>
                  <li>
                    <a href="https://cp.beget.com/domains" target="_blank">Домены</a>
                  </li>
                  <li>
                    <a href="{% url 'office:learn_code' %}">Learn Code</a>
                  </li>
                  <li>
                    <a href="/admin">Admin</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'office:old_lands' %}">Архив прокл</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>

{% block content %}
{% endblock %}
</body>
</html>