{% extends 'office/base.html' %}
{% block content %}


<!-- <div class="main-wrapper">
    <h2> Запуски</h2>
    <div class="table-responsive table-wrapper">
        <table class="table" id="api">
            <thead class="table-light">
                <tr>
                    <th>Название</th>
                    <th>Вертикаль</th>
                    <th>Гео</th>
                    <th>Аккаунт</th>
                    <th>Кабинет</th>
                    <th>Ссылки</th>
                    <th>Статус</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tr>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
                <td>xxxxxx</td>
            </tr>
        </table>
    </div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Создание кампании</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- <p>Modal body text goes here.</p> -->
                   <!-- Вставка контента -->
        <!-- Выбор каба для запуска -->
<!-- <div class="main-wrapper"> -->
    <!-- <h3>Создать запуск</h3> -->
    <div class="btn-toolbar sn-block" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <!-- <button type="button" class="btn btn-primary active" id="sn-all-z">Все</button> -->
          <button type="button" class="btn btn-primary sn" id="fb-1" data-bs-toggle="collapse" source-id="3" data-bs-target="#fb-card">
            <i class="fab fa-facebook"></i>
          </button>
          <button type="button" class="btn btn-primary sn" id="gg-1" data-bs-toggle="collapse" source-id="1"  data-bs-target="#gg-card">
            <i class="fab fa-google"></i>
          </button>
          <button type="button" class="btn btn-primary sn" id="tt-1" data-bs-toggle="collapse" source-id="2"  data-bs-target="#tt-card">
            <i class="fab fa-tiktok"></i>
          </button>
        </div>
      </div>
  <!-- </div> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Аккаунт</th>
        <th scope="col">Кабинет</th>
        <th scope="col">Домены</th>
        <th scope="col">Описание</th>
        <th scope="col">Гео</th>
        <th scope="col">Статус</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="list-group acc"></div></td>
        <td><div class="list-group cab"></div></td>
        <td>
          <div class="for-ch-domains">
            <div class="btn-group dom-filter" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-outline-primary filter disabled" id="linked-doms">Привязаные</button>
              <button type="button" class="btn btn-outline-primary filter disabled" id="all-doms">Все</button>
            
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle disabled"  data-bs-toggle="dropdown" aria-expanded="false">
                  Выбрать
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1" id="for-domain">
                  <li><a class="dropdown-item" href="#">cool-markets.store : Money Amulet купить, Money Amu some status</a></li>
                  <li><a class="dropdown-item" href="#">cool-xx.store : Money Amulet купить,me status</a></li>
                </ul>
              </div>
            </div>
            <div>
            </div>
          </div>
          <div class="list-group domains"></div>
          
        </td>
        <td>
        <textarea id="camp-text"></textarea>
        </td>
        <td>
          <div class="btn-group" role="group">
            <button id="geo" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Выбрать
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1" id="for-geo">
              <!-- <li><a class="dropdown-item" href="#">BY</a></li>
              <li><a class="dropdown-item" href="#">RU</a></li>
              <li><a class="dropdown-item" href="#">RU</a></li> -->
            </ul>
            
          </div>
          <div class="list-group geos"></div>
         </td>
         <td>
          status
         </td>
  
  
      </tr>
  
      
    </tbody>
  </table>
  <!-- Вставка контента -->
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
        <button type="button" class="btn btn-primary disabled" id="save-comp">Создать кампанию</button>
    </div>

    </div>
</div>
</div>
<div class="main-wrapper">
    <h3> From django</h3>
    <div class="btn-toolbar sn-block-filter" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary active" id="sn-all">Все</button>
          <button type="button" class="btn btn-primary sn-filter" id="fb"><i class="fab fa-facebook"></i></button>
          <button type="button" class="btn btn-primary sn-filter" id="gg"><i class="fab fa-google"></i></button>
          <button type="button" class="btn btn-primary sn-filter" id="tt"><i class="fab fa-tiktok"></i></button>
        </div>


        <div id="add-camp">
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Создать <i class="far fa-plus-square"></i></button>
          </div>
          
</div>

<div class="table-responsive table-wrapper table-camps">
    <table class="table" id="">
        <thead class="table-light">
            <tr>
                <th>ИТ</th>
                <th>Акк-Каб</th>
                <!-- <th>Кабинет</th> -->
                <th>Гео</th>
                <th>Название</th>
                <th>Ссылки</th>
                <th>Статус</th>
                <th>Описание</th>
                <th>Дата Р</th>
            </tr>
        </thead>
        {% for comp in campanings %}
        <tbody>
        <tr id="{{ comp.id }}">         
            
            <td class="{{comp.cab.account.source.short_name}}"><div class="icon-block"><code>{{ comp.cab.account.source.icon_html|safe  }}</code></div>
                <!-- {{ comp.cab.account.source.name }} -->
            </td>
            <!-- <td></td> -->
            <td>{{ comp.cab.account.name }}: {{ comp.cab }}</td>
            <td>
                {% for geo in comp.geo.all %}
                {{ geo.short_name}}
                {% endfor %}
            </td>
            <td>{{ comp.name }}</td>
            <td>
                {% for geo in comp.land.all %}
                {{ geo.name}}{{ geo.site.check_status}}<br>
                {% endfor %}
            </td>
            <td class="camp-status">
                <!-- status -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="" data-bs-toggle="dropdown" current-status="{{comp.status.id}}"  aria-expanded="false">{{ comp.status }}</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for status in statusys %}
                      <li><a class="dropdown-item" camp-status="{{status.id}}" current-status="{{comp.status.id}}" href="#">{{ status.name }}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                 <!-- status -->
            </td>
            <td> --- </td> 
            <td>{{ comp.edited }}</td> 
        </tr>

        
        {% endfor %}
      </tbody>
    </table>
</div>


<div class="toast align-items-center text-white bg-primary border-0 position-absolute bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true" style="margin: 20px;">
  <div class="d-flex">
    <div class="toast-body">
      Кампания создана
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>


</div>


  
<script>
csrfmiddlewaretoken = '{{ csrf_token }}'
var campStatus = {
    '4': 'btn-warning', // пауза
    '3': 'btn-secondary', // 
    '1': 'btn-success', //  запущено
    '2': 'btn-danger', // бан
    '5': 'btn-primary', // на расмотрении
}
updateAllButtons()
function updateAllButtons(){
    // добавление стиля на статус кампании
    var statusBtns = $('td.camp-status button')
    statusBtns.each(function(){
    var curValue = $(this).attr('current-status')
    var newClass = campStatus[curValue]
    $(this).removeClass('btn-warning')
    $(this).removeClass('btn-success')
    $(this).removeClass('btn-danger')
    $(this).addClass(newClass)
})

}
var choseNewStat = $('td.camp-status a')
choseNewStat.click(function(){
    var campId = $(this).closest('tr').attr('id')
    var choseStatus = $(this).attr('camp-status')
    var currentStat = $(this).attr('current-status')
    // console.log(choseStatus, 'новый выбранный статус')
    // console.log(campId, 'id кампании')
    // console.log(currentStat, 'Текущий статус')
    if (choseStatus != currentStat){
        updateApiStatus(campId, choseStatus)
    }
})

function updateApiStatus(campId, newStatusId){
    var host = window.location.protocol + "//" + window.location.host;
    URL = host + '/api/campaning_detail/' + campId + '/'
    csrfmiddlewaretoken = '{{ csrf_token }}'
    var result = $.post(URL,
    {'status':newStatusId,'csrfmiddlewaretoken': csrfmiddlewaretoken,},
        function(data) {
            console.log('Good send to DB')
            var findBtn = $('tr#'+data.id + ' .camp-status button')
            findBtn.text(data.status.name)
            findBtn.attr('current-status', data.status.id)
            var findLiA = $('tr#'+data.id + ' .camp-status li a')
            findLiA.attr('current-status', data.status.id)
            updateAllButtons()
        });
}

    // фильтрация по соц сетям
    var campRows = $('.table-camps tr').slice(1)
    $('.sn-filter').click(function(){
        // console.log('clicj soc')
        // Соц сети
        // стили кнопок при нажатии
        $('#sn-all').removeClass('active')
        $('.sn-filter').removeClass('btn-outline-primary')
        $('.sn-filter').addClass('btn-primary')
        $(this).removeClass('btn-primary')
        $(this).addClass('btn-outline-primary')
        campRows.hide()
        var buttonClass = $(this).attr('id')
        var toSHow = campRows.filter(function(){
            var res = $(this).find('td.' + buttonClass)
            if (res.length == 0){return false}
            if (res.length != 0){return true}
        })
        toSHow.show()
        })
    $('#sn-all').click(function(){
        // ВСЕ
        // стили кнопок при нажатии
        $(this).addClass('active')
        $('.sn-filter').removeClass('btn-outline-primary')
        $('.sn-filter').addClass('btn-primary')
        campRows.show()
        })
</script>

<script>
    // скрипт для модального окна создания запуска
  
  // показать уведомнление
  // $(document).ready(function(){
  //   console.log('ready')
  //     $("h3").click(function(){
  //       console.log('clock h3')
  //         $(".toast").toast("show");
  //     });
  // });
  
    var curSource = null
    var curAcc = null
    var curCab
    var neww
   API_ANSWER = null;
  var host = window.location.protocol + "//" + window.location.host;
    URL = host + '/api/zapusk/'
    // получение данных для запуска
    $.get(URL, function(data){
      API_ANSWER = data
            // загруска данных по доменам
            var domains = API_ANSWER['domains']
          $.each(domains, function(key, value){
            newElem = $('<li><a class="dropdown-item" href="#">'+ value.name +'</a></li>')
            $('#for-domain').append(newElem)
            newElem.attr('dom-id', value.id)
          })
          // загруска данных по geo
          var geos = API_ANSWER['geos']
          console.log(geos)
          $.each(geos, function(key, value){
            newElem = $('<li><a class="dropdown-item" href="#">'+ value.short_name +'</a></li>')
            $('#for-geo').append(newElem)
            newElem.attr('geo-id', value.id)
          })
      })
  


  // список Акки выделение
    $('.list-group.acc').on('click','button',function(){
        console.log('click list')
        $('.list-group.acc button').removeClass('active')
        $(this).addClass('active')
        // disable кнопок выбора домена
        $('.for-ch-domains button').addClass('disabled')
      })
      // список Кабы выделение
      $('.list-group.cab').on('click','button',function(){
          console.log('click list')
          $('.list-group.cab button').removeClass('active')
          $(this).addClass('active')
  
          curCabId = $(this).attr('dom-id')
          curCab = $.each(API_ANSWER['cabs'], function(key, value){
            if (value.id == curCabId){
              neww = key
              }
          })
          curCab = curCab[neww]
          console.log(curCab.domain.name)
          // включение кнопок фильтров доменов
          $('.for-ch-domains button').removeClass('disabled')
          $('#linked-doms').trigger('click')
        })
    
    // фильтр доменов выделение кнопок
    $('.btn-group.dom-filter').on('click','button.filter',function(){
    console.log('click list')
    $('.btn-group.dom-filter button.filter').removeClass('active')
    $(this).addClass('active')
    })
  
    // отфильтровать домены привязанные к кабинету
    
    $('#linked-doms').click(function(){
      var list_domains = $('#for-domain li')
      console.log('start filter')
      if (curCab != null){
        var chosen_domain = curCab.domain.get_root_domain
      list_domains.each(function(){
        // console.log($(this).text(), chosen_domain, $(this).text().indexOf(chosen_domain))
        if ($(this).text().indexOf(chosen_domain) == -1) {$(this).hide()} else {$(this).show()}
        // $(this).hide()
      })
      }
    })
    // отоброзить все домены 
    $('#all-doms').click(function(){$('#for-domain li').show()})
  
    // загрузка в список Аккаунтов
    $('.sn').click(function(){
      console.log('source click')
      var sourceId = $(this).attr('source-id')
      var accounts = API_ANSWER['accounts']
      console.log(accounts)
      // отчистка блока с аккаунтами
      $('.acc').empty()
      $('.cab').empty()
      if (accounts.length == 0){$('.acc').append($('<p>Нет аккаунтов</p>'))}
      $.each(accounts, function(key, value){
        console.log(value)
        console.log(value.source.id == sourceId)
          if(value.source.id == sourceId){
            var newItem = $('<button type="button" class="list-group-item list-group-item-action"></button>')
            newItem.text(value.name)
            newItem.attr('acc-id', value.id)
            $('.acc').append(newItem)
          } 
        }) 
      if ($('.acc').children().length == 0){$('.acc').append('<p>Нет аккаунтов</p>')}
    })
    // загрузка кабинетов
    $('.list-group.acc').on('click', 'button', function(){
      $('.cab').empty()
      var cabs = API_ANSWER['cabs']
      var accId = $(this).attr('acc-id')
      // console.log(cabs.length)
      $.each(cabs, function(key, value){
        if(value.account.id == accId){
          var newItem = $('<button type="button" class="list-group-item list-group-item-action"></button>')
          newItem.attr('dom-id', value.id)
          newItem.text(value.name + ' : ' + value.id)
          $('.cab').append(newItem)
        }
      })
      if ($('.cab').children().length == 0){$('.cab').append('<p>Нет кабинетов</p>')}
    })
  
   
     // фильтрация по соц сетям
    //  var campRows = $('tr').slice(1)
      $('.sn').click(function(){
          // Соц сети
          // стили кнопок при нажатии
          $('#sn-all').removeClass('active')
          $('.sn').removeClass('btn-outline-primary')
          $('.sn').addClass('btn-primary')
          $(this).removeClass('btn-primary')
          $(this).addClass('btn-outline-primary')
          // disable кнопок выбора домена
          $('.for-ch-domains button').addClass('disabled')
          // campRows.hide()
          // var buttonClass = $(this).attr('id')
          // var toSHow = campRows.filter(function(){
          //     var res = $(this).find('td.' + buttonClass)
          //     if (res.length == 0){return false}
          //     if (res.length != 0){return true}
          // })
          // toSHow.show()
          })
  
      $('#sn-all').click(function(){
          // ВСЕ
          // стили кнопок при нажатии
          $(this).addClass('active')
          $('.sn').removeClass('btn-outline-primary')
          $('.sn').addClass('btn-primary')
          campRows.show()
          })
  
      // Выбор домена при нажатии на li
      $('td').on('click','#for-domain li',function(){
        console.log('click doain')
        var domain_text = $(this).text()
        $(this).hide()
        var newElem = $('<button type="button" class="btn btn-light"></button>')
        newElem.text(domain_text)
        newElem.attr('dom-id',$(this).attr('dom-id'))
        
        newElem.append('<button type="button" class="btn-close" target=".schose-domain" aria-label="Close"></button>')
        
        $('.list-group.domains').append(newElem)
        newElem.wrap('<div class="schose-domain"></div>')
      })
  
      // закрытие родительского окна по нажатию на bytton (для  выбранных доменов и гео)
      $('body').on('click','.btn-close',function(){
        console.log('close button')
        var parrentToDel = $(this).attr('target')
        console.log('.list-group')
        $(this).closest(parrentToDel).remove()
      })
  
      // Выбор гео при нажатии на li
      $('td').on('click', '#for-geo li',function(){
        var geo_text = $(this).text()
        $(this).hide()
        var newElem = $('<button type="button" class="btn btn-light"></button>')
        newElem.text(geo_text) 
        newElem.attr('geo-id',$(this).attr('geo-id'))
        newElem.append('<button type="button" class="btn-close" target=".schose-geo" aria-label="Close"></button>')
        $('.list-group.geos').append(newElem)
        newElem.wrap('<div class="schose-geo"></div>')
      })
  

  // блокировка.включение кпопки сохранения запуска
  $('#exampleModal').click(function(){
    //   console.log($('.list-group.domains').children().length == 0, 'длинна выбранных доменов')
    //   console.log($('.list-group.geos').children().length == 0, 'длинна выбранных geo')
      if(curCab == null || $('.list-group.domains').children().length == 0 || $('.list-group.geos').children().length == 0)
      // отключить
       {$('#save-comp').addClass('disabled')} 
       // включить
       else{$('#save-comp').removeClass('disabled')}
  })
  // получения данных запуска
  $('#save-comp').click(function(){
      var domainsIds = []
      var geosIds = []
      var textCamp = $('#camp-text').val()
      var cabId = curCab.id
      csrfmiddlewaretoken = '{{ csrf_token }}'
      $('.list-group.domains button').each(function(){
        if ($(this).attr('dom-id') != undefined)
        {domainsIds.push($(this).attr('dom-id')); console.log($(this).attr('dom-id'), 'добавленный домен')}
      })
      $('.list-group.geos button').each(function(){
          if ($(this).attr('geo-id') != undefined)
        {geosIds.push($(this).attr('geo-id')); console.log($(this).attr('geo-id'), 'добавленный гео')}
      })
      newCampData = {
        'domains_id': domainsIds,
          'geos_id': geosIds,
          'text': textCamp,
          'cab_id': cabId,
          
      }
      var newCampData = JSON.stringify(newCampData);
    //   newCampData = {
    //       'name': 'test',
    //       'phone': "['123', '123']",
    //       'csrfmiddlewaretoken': csrfmiddlewaretoken,
    //   }

      console.log(geosIds, domainsIds, 'geo-doms')
      console.log(newCampData, 'это запрос')
      var host = window.location.protocol + "//" + window.location.host;
      // отправка данных для создания запуска
      URL = host + '/api/create_capmaning/'
      $.post(URL,{'data': newCampData, 'csrfmiddlewaretoken': csrfmiddlewaretoken,}, function(data){
      $('.table-camps thead').after(data) // вставка строки в таблицу
      console.log('ответ от сервера',data)
      $('#close-modal').trigger('click')
      $(".toast").toast("show");
      updateAllButtons()
      })
      
  })
  
  // var API_ANSWER = {
  //   "source": [
  //     {
  //       "id": 1,
  //       "name": "Google",
  //       "short_name": "gg"
  //     },
  //     {
  //       "id": 2,
  //       "name": "TickTick",
  //       "short_name": "tt"
  //     },
  //     {
  //       "id": 3,
  //       "name": "FaceBook",
  //       "short_name": "fb"
  //     }
  //   ],
  //   "accounts": [
  //     {
  //       "id": 1,
  //       "name": "Fb acc",
  //       "source": {
  //         "id": 3,
  //         "name": "FaceBook",
  //         "short_name": "fb"
  //       },
  //       "description": "fsdfsdfsd"
  //     },
  //     {
  //       "id": 2,
  //       "name": "FB acc 1",
  //       "source": {
  //         "id": 3,
  //         "name": "FaceBook",
  //         "short_name": "fb"
  //       },
  //       "description": "vdsvsd"
  //     },
  //     {
  //       "id": 3,
  //       "name": "Tick One",
  //       "source": {
  //         "id": 2,
  //         "name": "TickTick",
  //         "short_name": "tt"
  //       },
  //       "description": "первый тикток"
  //     },
  //     {
  //       "id": 4,
  //       "name": "GG ONE",
  //       "source": {
  //         "id": 1,
  //         "name": "Google",
  //         "short_name": "gg"
  //       },
  //       "description": "первый гугле"
  //     }
  //   ],
  //   "cabs": [
  //     {
  //       "id": 1,
  //       "name": "Cab 1",
  //       "account": {
  //         "id": 1,
  //         "name": "Fb acc",
  //         "source": {
  //           "id": 3,
  //           "name": "FaceBook",
  //           "short_name": "fb"
  //         },
  //         "description": "fsdfsdfsd"
  //       },
  //       "description": "f e eef",
  //       "pixel": 12312312,
  //       "domain": {
  //         "id": 216,
  //         "beget_id": 8433949,
  //         "name": "feel-market.ru",
  //         "site": 307,
  //         "description": "fefwefew",
  //         "get_http": "http://feel-market.ru/",
  //         "facebook": "NEW",
  //         "tiktok": "NEW",
  //         "google": "NEW",
  //         "get_root_domain": "feel-market.ru"
  //       }
  //     },
  //     {
  //       "id": 2,
  //       "name": "Cab 2",
  //       "account": {
  //         "id": 1,
  //         "name": "Fb acc",
  //         "source": {
  //           "id": 3,
  //           "name": "FaceBook",
  //           "short_name": "fb"
  //         },
  //         "description": "fsdfsdfsd"
  //       },
  //       "description": "dvwevwebwe",
  //       "pixel": 23312312,
  //       "domain": {
  //         "id": 234,
  //         "beget_id": 8525995,
  //         "name": "vim-store.ru",
  //         "site": 334,
  //         "description": "",
  //         "get_http": "http://vim-store.ru/",
  //         "facebook": "NEW",
  //         "tiktok": "NEW",
  //         "google": "NEW",
  //         "get_root_domain": "vim-store.ru"
  //       }
  //     },
  //     {
  //       "id": 3,
  //       "name": "Тик КАББ",
  //       "account": {
  //         "id": 3,
  //         "name": "Tick One",
  //         "source": {
  //           "id": 2,
  //           "name": "TickTick",
  //           "short_name": "tt"
  //         },
  //         "description": "первый тикток"
  //       },
  //       "description": "мывивыиыв",
  //       "pixel": 353432412,
  //       "domain": {
  //         "id": 222,
  //         "beget_id": 8488704,
  //         "name": "sales-markets.ru",
  //         "site": 329,
  //         "description": "",
  //         "get_http": "http://sales-markets.ru/",
  //         "facebook": "NEW",
  //         "tiktok": "NEW",
  //         "google": "NEW",
  //         "get_root_domain": "sales-markets.ru"
  //       }
  //     },
  //     {
  //       "id": 4,
  //       "name": "каб 1",
  //       "account": {
  //         "id": 4,
  //         "name": "GG ONE",
  //         "source": {
  //           "id": 1,
  //           "name": "Google",
  //           "short_name": "gg"
  //         },
  //         "description": "первый гугле"
  //       },
  //       "description": "Новая",
  //       "pixel": 3234343,
  //       "domain": {
  //         "id": 232,
  //         "beget_id": 8525993,
  //         "name": "great-markets.ru",
  //         "site": 312,
  //         "description": "",
  //         "get_http": "http://great-markets.ru/",
  //         "facebook": "NEW",
  //         "tiktok": "NEW",
  //         "google": "NEW",
  //         "get_root_domain": "great-markets.ru"
  //       }
  //     }
  //   ],
  //   "domains": [
  //     {
  //       "id": 207,
  //       "beget_id": 8360490,
  //       "name": "vladiuse.beget.tech",
  //       "site": 322,
  //       "description": "vdvdscsdcsdcsd",
  //       "get_http": "http://vladiuse.beget.tech/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "beget.tech"
  //     },
  //     {
  //       "id": 214,
  //       "beget_id": 8432746,
  //       "name": "main-prosale.ru",
  //       "site": 319,
  //       "description": "иаиваива",
  //       "get_http": "http://main-prosale.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "main-prosale.ru"
  //     },
  //     {
  //       "id": 215,
  //       "beget_id": 8432747,
  //       "name": "main-prosale.store",
  //       "site": 306,
  //       "description": "dffsdfwe",
  //       "get_http": "http://main-prosale.store/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "main-prosale.store"
  //     },
  //     {
  //       "id": 216,
  //       "beget_id": 8433949,
  //       "name": "feel-market.ru",
  //       "site": 307,
  //       "description": "fefwefew",
  //       "get_http": "http://feel-market.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "feel-market.ru"
  //     },
  //     {
  //       "id": 222,
  //       "beget_id": 8488704,
  //       "name": "sales-markets.ru",
  //       "site": 329,
  //       "description": "",
  //       "get_http": "http://sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 225,
  //       "beget_id": 8496023,
  //       "name": "spaces-market.store",
  //       "site": 331,
  //       "description": "",
  //       "get_http": "http://spaces-market.store/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "spaces-market.store"
  //     },
  //     {
  //       "id": 228,
  //       "beget_id": 8500574,
  //       "name": "fur-markets.ru",
  //       "site": 310,
  //       "description": "",
  //       "get_http": "http://fur-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "fur-markets.ru"
  //     },
  //     {
  //       "id": 231,
  //       "beget_id": 8517412,
  //       "name": "cool-markets.store",
  //       "site": 304,
  //       "description": "",
  //       "get_http": "http://cool-markets.store/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "cool-markets.store"
  //     },
  //     {
  //       "id": 232,
  //       "beget_id": 8525993,
  //       "name": "great-markets.ru",
  //       "site": 312,
  //       "description": "",
  //       "get_http": "http://great-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "great-markets.ru"
  //     },
  //     {
  //       "id": 234,
  //       "beget_id": 8525995,
  //       "name": "vim-store.ru",
  //       "site": 334,
  //       "description": "",
  //       "get_http": "http://vim-store.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "vim-store.ru"
  //     },
  //     {
  //       "id": 236,
  //       "beget_id": 8583059,
  //       "name": "fito-blog.ru",
  //       "site": 308,
  //       "description": "",
  //       "get_http": "http://fito-blog.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "fito-blog.ru"
  //     },
  //     {
  //       "id": 237,
  //       "beget_id": 8583060,
  //       "name": "fito-blog.store",
  //       "site": 309,
  //       "description": "",
  //       "get_http": "http://fito-blog.store/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "fito-blog.store"
  //     },
  //     {
  //       "id": 241,
  //       "beget_id": 8520967,
  //       "name": "pro.cool-markets.store",
  //       "site": 325,
  //       "description": "",
  //       "get_http": "http://pro.cool-markets.store/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "cool-markets.store"
  //     },
  //     {
  //       "id": 242,
  //       "beget_id": 8569776,
  //       "name": "puzzle.feel-market.ru",
  //       "site": 327,
  //       "description": "",
  //       "get_http": "http://puzzle.feel-market.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "feel-market.ru"
  //     },
  //     {
  //       "id": 245,
  //       "beget_id": 8542165,
  //       "name": "cool.great-markets.ru",
  //       "site": 305,
  //       "description": "",
  //       "get_http": "http://cool.great-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "great-markets.ru"
  //     },
  //     {
  //       "id": 247,
  //       "beget_id": 8531049,
  //       "name": "ro.great-markets.ru",
  //       "site": 328,
  //       "description": "",
  //       "get_http": "http://ro.great-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "great-markets.ru"
  //     },
  //     {
  //       "id": 253,
  //       "beget_id": 8582932,
  //       "name": "aqua-t.sales-markets.ru",
  //       "site": 298,
  //       "description": "",
  //       "get_http": "http://aqua-t.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 254,
  //       "beget_id": 8582933,
  //       "name": "aqua-tt.sales-markets.ru",
  //       "site": 299,
  //       "description": "",
  //       "get_http": "http://aqua-tt.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 255,
  //       "beget_id": 8581655,
  //       "name": "braws.sales-markets.ru",
  //       "site": 301,
  //       "description": "",
  //       "get_http": "http://braws.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 256,
  //       "beget_id": 8578582,
  //       "name": "byheat.sales-markets.ru",
  //       "site": 302,
  //       "description": "",
  //       "get_http": "http://byheat.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 259,
  //       "beget_id": 8566637,
  //       "name": "heat.sales-markets.ru",
  //       "site": 316,
  //       "description": "",
  //       "get_http": "http://heat.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 261,
  //       "beget_id": 8582931,
  //       "name": "heat-t.sales-markets.ru",
  //       "site": 314,
  //       "description": "",
  //       "get_http": "http://heat-t.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 262,
  //       "beget_id": 8582930,
  //       "name": "heat-tt.sales-markets.ru",
  //       "site": 315,
  //       "description": "",
  //       "get_http": "http://heat-tt.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 263,
  //       "beget_id": 8572180,
  //       "name": "laser.sales-markets.ru",
  //       "site": 295,
  //       "description": "",
  //       "get_http": "http://laser.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 276,
  //       "beget_id": 8578581,
  //       "name": "waqua.sales-markets.ru",
  //       "site": 335,
  //       "description": "",
  //       "get_http": "http://waqua.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 277,
  //       "beget_id": 8575578,
  //       "name": "water.sales-markets.ru",
  //       "site": 336,
  //       "description": "",
  //       "get_http": "http://water.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 281,
  //       "beget_id": 8553160,
  //       "name": "heat.vim-store.ru",
  //       "site": 317,
  //       "description": "",
  //       "get_http": "http://heat.vim-store.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "vim-store.ru"
  //     },
  //     {
  //       "id": 287,
  //       "beget_id": 8369315,
  //       "name": "top-salepro.com",
  //       "site": 333,
  //       "description": "рукркурку",
  //       "get_http": "http://top-salepro.com/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "top-salepro.com"
  //     },
  //     {
  //       "id": 289,
  //       "beget_id": 8594246,
  //       "name": "aqua.feel-market.ru",
  //       "site": 291,
  //       "description": "",
  //       "get_http": "http://aqua.feel-market.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "feel-market.ru"
  //     },
  //     {
  //       "id": 290,
  //       "beget_id": 8595658,
  //       "name": "cat.sales-markets.ru",
  //       "site": 290,
  //       "description": "",
  //       "get_http": "http://cat.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 292,
  //       "beget_id": 8595497,
  //       "name": "magic.sales-markets.ru",
  //       "site": 297,
  //       "description": "",
  //       "get_http": "http://magic.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 295,
  //       "beget_id": 8594257,
  //       "name": "heat-rb.vim-store.ru",
  //       "site": 294,
  //       "description": "",
  //       "get_http": "http://heat-rb.vim-store.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "vim-store.ru"
  //     },
  //     {
  //       "id": 298,
  //       "beget_id": 8609168,
  //       "name": "amulet.feel-market.ru",
  //       "site": 340,
  //       "description": "",
  //       "get_http": "http://amulet.feel-market.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "feel-market.ru"
  //     },
  //     {
  //       "id": 299,
  //       "beget_id": 8618933,
  //       "name": "amulet.fur-markets.ru",
  //       "site": 341,
  //       "description": "",
  //       "get_http": "http://amulet.fur-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "fur-markets.ru"
  //     },
  //     {
  //       "id": 300,
  //       "beget_id": 8610484,
  //       "name": "bras.sales-markets.ru",
  //       "site": 343,
  //       "description": "",
  //       "get_http": "http://bras.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 301,
  //       "beget_id": 8609910,
  //       "name": "coll.sales-markets.ru",
  //       "site": 344,
  //       "description": "",
  //       "get_http": "http://coll.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 302,
  //       "beget_id": 8610220,
  //       "name": "watch.sales-markets.ru",
  //       "site": 346,
  //       "description": "",
  //       "get_http": "http://watch.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 303,
  //       "beget_id": 8609515,
  //       "name": "aqua.vim-store.ru",
  //       "site": 342,
  //       "description": "",
  //       "get_http": "http://aqua.vim-store.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "vim-store.ru"
  //     },
  //     {
  //       "id": 304,
  //       "beget_id": 8608921,
  //       "name": "keto.vim-store.ru",
  //       "site": 345,
  //       "description": "",
  //       "get_http": "http://keto.vim-store.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "vim-store.ru"
  //     },
  //     {
  //       "id": 305,
  //       "beget_id": 8619286,
  //       "name": "kulon.sales-markets.ru",
  //       "site": 348,
  //       "description": "",
  //       "get_http": "http://kulon.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 306,
  //       "beget_id": 8619485,
  //       "name": "kulon-full.sales-markets.ru",
  //       "site": 347,
  //       "description": "",
  //       "get_http": "http://kulon-full.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 307,
  //       "beget_id": 8626555,
  //       "name": "watchs.sales-markets.ru",
  //       "site": 349,
  //       "description": "",
  //       "get_http": "http://watchs.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 308,
  //       "beget_id": 8632438,
  //       "name": "fen.sales-markets.ru",
  //       "site": 351,
  //       "description": "",
  //       "get_http": "http://fen.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 309,
  //       "beget_id": 8632551,
  //       "name": "fen-pro.sales-markets.ru",
  //       "site": 350,
  //       "description": "",
  //       "get_http": "http://fen-pro.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     },
  //     {
  //       "id": 310,
  //       "beget_id": 8637479,
  //       "name": "moto.feel-market.ru",
  //       "site": 352,
  //       "description": "",
  //       "get_http": "http://moto.feel-market.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "feel-market.ru"
  //     },
  //     {
  //       "id": 311,
  //       "beget_id": 8637468,
  //       "name": "moto.sales-markets.ru",
  //       "site": 352,
  //       "description": "",
  //       "get_http": "http://moto.sales-markets.ru/",
  //       "facebook": "NEW",
  //       "tiktok": "NEW",
  //       "google": "NEW",
  //       "get_root_domain": "sales-markets.ru"
  //     }
  //   ],
  //   "geos": [
  //     {
  //       "id": 1,
  //       "name_ru": "Беларусь",
  //       "name_eng": null,
  //       "short_name": "by",
  //       "phone_code": 375
  //     },
  //     {
  //       "id": 2,
  //       "name_ru": "Россия",
  //       "name_eng": null,
  //       "short_name": "ru",
  //       "phone_code": 7
  //     },
  //     {
  //       "id": 3,
  //       "name_ru": "Литва",
  //       "name_eng": null,
  //       "short_name": "lt",
  //       "phone_code": 370
  //     },
  //     {
  //       "id": 4,
  //       "name_ru": "Латвия",
  //       "name_eng": null,
  //       "short_name": "lv",
  //       "phone_code": 371
  //     },
  //     {
  //       "id": 5,
  //       "name_ru": "Польша",
  //       "name_eng": null,
  //       "short_name": "pl",
  //       "phone_code": 48
  //     },
  //     {
  //       "id": 6,
  //       "name_ru": "Болгария",
  //       "name_eng": null,
  //       "short_name": "bg",
  //       "phone_code": 359
  //     },
  //     {
  //       "id": 7,
  //       "name_ru": "Румыния",
  //       "name_eng": null,
  //       "short_name": "ro",
  //       "phone_code": 40
  //     }
  //   ]
  // }
 
  </script>

{% endblock %}
