
        <tr id="{{ comp.id }}">         
            
            <td class="{{comp.cab.account.source.short_name}}"><div class="icon-block"><code>{{ comp.cab.account.source.icon_html|safe  }}</code></div>
                <!-- {{ comp.cab.account.source.name }} -->
            </td>
            <!-- <td></td> -->
            <td>{{ comp.cab.account.name }}: {{ comp.cab }}</td>
            <td>
                {% for geo in comp.geo.all %}
                {{ geo.short_name}}
                {% endfor %}
            </td>
            <td>{{ comp.name }}</td>
            <td>
                {% for geo in comp.land.all %}
                {{ geo.name}}{{ geo.site.check_status}}<br>
                {% endfor %}
            </td>
            <td class="camp-status">
                <!-- status -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="" data-bs-toggle="dropdown" current-status="{{comp.status.id}}"  aria-expanded="false">{{ comp.status }}</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for status in statusys %}
                      <li><a class="dropdown-item" camp-status="{{status.id}}" current-status="{{comp.status.id}}" href="#">{{ status.name }}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                 <!-- status -->
            </td>
            <td> --- </td> 
            <td>{{ comp.edited }}</td> 
        </tr>
       