<tr id="{{ comp.id }}">         
            
  <td class="{{comp.cab.account.source.short_name}}"><div class="icon-block"><code>{{ comp.cab.account.source.icon_html|safe  }}</code></div>
      <!-- {{ comp.cab.account.source.name }} -->
  </td>
  <!-- <td></td> -->
  <td>{{ comp.cab.account.name }}: {{ comp.cab }}</td>
  <td>
      {% for geo in comp.geo.all %}
      <a data-bs-toggle="tooltip" data-bs-placement="left" title="{{geo.name_ru}}">
        <span class="flag-icon flag-icon-{{geo.short_name}} flag-icon-squared"></span></a>
      
      <!-- {{ geo.short_name}} -->
      {% endfor %}
  </td>
<!--            <td>{{comp.get_comp_id}}</td>-->
  <td class="pixel-block">
   <!-- Pxilex -->
   {% if comp.is_comp_active %}
   {% if comp.is_pixel_correct %}
   <i class="fas fa-check-circle"></i>
   {% endif %}
   {% endif %}
   {{ comp.pixel }}
  </td>
  <td>{% if comp.daily %}{{comp.daily}}{% endif %}</td>
  <td>{{ comp.name }}</td>
  <td>
      {% for land in comp.land.all %}
      <!-- {{ geo.name}} -->

<a data-bs-toggle="tooltip" data-bs-placement="left" title="{{ land.site.check_status}}">{{ land.name}}</a>
      <!-- {{ geo.name}}{{ geo.site.check_status}}<br> -->
      {% endfor %}
  </td>
  <td class="camp-status">
      <!-- status -->
      <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="" data-bs-toggle="dropdown" current-status="{{comp.status.id}}"  aria-expanded="false">{{ comp.status }}</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for status in statusys %}
            <li><a class="dropdown-item" camp-status="{{status.id}}" current-status="{{comp.status.id}}">{{ status.name }}</a></li>
              {% endfor %}
          </ul>
        </div>
       <!-- status -->
  </td>
  <td>
    <!-- Прочее -->
    <div class="dropdown">
      <button type="button" class="btn btn-light dropdown-toggle icon-block"  data-bs-toggle="dropdown" data-bs-target="#exampleModal">
          <i class="fas fa-cogs "></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/admin/office/company/{{comp.id}}/change/" target="_blank">Редактировать</a></li>
          <!-- <li><a class="dropdown-item" href="" target="_blank">---</a></li> -->
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item disabled" href="#" data-bs-toggle="modal" data-bs-target="#">Удалить</a></li>                      
        </ul>
      </div>
  </td>
</tr>