{% extends 'office/base.html' %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Создание кампании</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <!-- <p>Modal body text goes here.</p> -->
                   <!-- Вставка контента -->
        <!-- Выбор каба для запуска -->
<!-- <div class="main-wrapper"> -->
    <!-- <h3>Создать запуск</h3> -->
    <div class="btn-toolbar sn-block" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <!-- <button type="button" class="btn btn-primary active" id="sn-all-z">Все</button> -->
          <button type="button" class="btn btn-primary sn" id="fb-1" data-bs-toggle="collapse" source-id="1" data-bs-target="#fb-card">
            <i class="fab fa-facebook"></i>
          </button>
          <button type="button" class="btn btn-primary sn" id="gg-1" data-bs-toggle="collapse" source-id="2"  data-bs-target="#gg-card">
            <i class="fab fa-google"></i>
          </button>
          <button type="button" class="btn btn-primary sn" id="tt-1" data-bs-toggle="collapse" source-id="3"  data-bs-target="#tt-card">
            <i class="fab fa-tiktok"></i>
          </button>
        </div>
      </div>
  <!-- </div> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Аккаунт</th>
        <th scope="col">Кабинет</th>
        <th scope="col">Домены</th>
        <th scope="col">Название</th>
        <th scope="col">Daily</th>
        <th scope="col">Гео</th>
        <!-- <th scope="col">Статус</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="list-group acc"></div></td>
        <td><div class="list-group cab"></div></td>
        <td>
          <div class="for-ch-domains">
            <div class="btn-group dom-filter" role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-outline-primary filter disabled" id="linked-doms">Привязаные</button>
              <button type="button" class="btn btn-outline-primary filter disabled" id="all-doms">Все</button>
            
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle disabled"  data-bs-toggle="dropdown" aria-expanded="false">
                  Выбрать
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1" id="for-domain">
<!--                  <li><a class="dropdown-item" href="#">cool-markets.store : Money Amulet купить, Money Amu some status</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">cool-xx.store : Money Amulet купить,me status</a></li>-->
                </ul>
              </div>
            </div>
            <div>
            </div>
          </div>
          <div class="list-group domains"></div>
          
        </td>
        <td>
        <textarea id="camp-text"></textarea>
        </td>
        <td>
          <input id="camp-daily" type="text" style="width: 60px;">
          </td>
        <td>
          <div class="btn-group" role="group">
            <button id="geo" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Выбрать
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1" id="for-geo">
              <!-- <li><a class="dropdown-item" href="#">BY</a></li>
              <li><a class="dropdown-item" href="#">RU</a></li>
              <li><a class="dropdown-item" href="#">RU</a></li> -->
            </ul>
            
          </div>
          <div class="list-group geos"></div>
         </td>
         <!-- <td>
          status
         </td> -->
  
  
      </tr>
  
      
    </tbody>
  </table>
  <!-- Вставка контента -->
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
        <button type="button" class="btn btn-primary disabled" id="save-comp">Создать кампанию</button>
    </div>

    </div>
</div>
</div>
<div class="main-wrapper">
    <h3>Кампании</h3>
    <div class="btn-toolbar sn-block-filter" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary active" id="sn-all">Все</button>
          <button type="button" class="btn btn-primary sn-filter" id="fb"><i class="fab fa-facebook"></i></button>
          <button type="button" class="btn btn-primary sn-filter" id="gg"><i class="fab fa-google"></i></button>
          <button type="button" class="btn btn-primary sn-filter" id="tt"><i class="fab fa-tiktok"></i></button>
        </div>


    <div id="add-camp">
      <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#exampleModal">Создать <i class="far fa-plus-square"></i></button>
    </div>
    <!-- фильтр по статусам -->
    <button class="btn dropdown-toggle btn btn-light" type="button" camp-status="0" id="status-filter-main" data-bs-toggle="dropdown" current-status="{{comp.status.id}}"  aria-expanded="false">Все</button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="status-filter">
        <li camp-status="0"><a class="dropdown-item" href="#">Все</a></li>
          {% for status in statusys %}
        <li camp-status="{{ status.id }}"><a class="dropdown-item"  href="#">{{ status.name }}</a></li>
          {% endfor %}
      </ul>
    </div>
<div class="table-camps">
    <table class="table" id="main-table">
        <thead class="table-light">
            <tr>
                <th>ИТ</th>
                <th>Акк-Каб</th>
                <!-- <th>Кабинет</th> -->
                <th>Гео</th>
<!--                <th>Id</th>-->
               <th>Some</th>
                <th>Daily</th>
                <th>Название</th>
                <th>Ссылки</th>
                <th>Статус</th>
                <th>Прочее</th>
                <!-- <th>Описание</th> -->
                <!-- <th>Дата Р</th> -->
            </tr>
        </thead>
        <tbody style="vertical-align: middle;">
        {% for comp in campanings %}
        
        <tr id="{{ comp.id }}">         
            
            <td class="{{comp.cab.account.source.short_name}}"><div class="icon-block"><code>{{ comp.cab.account.source.icon_html|safe  }}</code></div>
                <!-- {{ comp.cab.account.source.name }} -->
            </td>
            <!-- <td></td> -->
            <td>{{ comp.cab.account.name }}: {{ comp.cab }}</td>
            <td>
                {% for geo in comp.geo.all %}
                <a data-bs-toggle="tooltip" data-bs-placement="left" title="{{geo.name_ru}}">
                  <span class="flag-icon flag-icon-{{geo.short_name}} flag-icon-squared"></span></a>
                
                <!-- {{ geo.short_name}} -->
                {% endfor %}
            </td>
<!--            <td>{{comp.get_comp_id}}</td>-->
           <td>{{comp.is_pixel_correct}}</td>
            <td>{% if comp.daily %}{{comp.daily}}{% endif %}</td>
            <td>{{ comp.name }}</td>
            <td>
                {% for land in comp.land.all %}
                <!-- {{ geo.name}} -->

<a data-bs-toggle="tooltip" data-bs-placement="left" title="{{ land.site.check_status}}">{{ land.name}}</a>
                <!-- {{ geo.name}}{{ geo.site.check_status}}<br> -->
                {% endfor %}
            </td>
            <td class="camp-status">
                <!-- status -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="" data-bs-toggle="dropdown" current-status="{{comp.status.id}}"  aria-expanded="false">{{ comp.status }}</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {% for status in statusys %}
                      <li><a class="dropdown-item" camp-status="{{status.id}}" current-status="{{comp.status.id}}">{{ status.name }}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                 <!-- status -->
            </td>
            <td>
              <!-- Прочее -->
              <div class="dropdown">
                <button type="button" class="btn btn-light dropdown-toggle icon-block"  data-bs-toggle="dropdown" data-bs-target="#exampleModal">
                    <i class="fas fa-cogs "></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/admin/office/company/{{comp.id}}/change/" target="_blank">Редактировать</a></li>
                    <!-- <li><a class="dropdown-item" href="" target="_blank">---</a></li> -->
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item disabled" href="#" data-bs-toggle="modal" data-bs-target="#">Удалить</a></li>                      
                  </ul>
                </div>
                <!-- Прочее -->
            </td>
            <!-- <td> --- </td>  -->
            <!-- <td>{{ comp.edited|date:" G:i - d.m" }}</td>  -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


<div class="toast align-items-center text-white bg-primary border-0 position-absolute bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true" style="margin: 20px;">
  <div class="d-flex">
    <div class="toast-body">
      Кампания создана
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>


</div>


<script>

var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

csrfmiddlewaretoken = '{{ csrf_token }}'
var campStatus = {
    '4': 'btn-warning', // пауза
    '3': 'btn-secondary', // 
    '1': 'btn-success', //  запущено
    '2': 'btn-danger', // бан
    '5': 'btn-primary', // на расмотрении
    '0': 'btn-light', // 
}
// фильтр кампаний по статусам
$('#status-filter li').click(function(){
  console.log('click filter status')
  $('#status-filter-main').text($(this).text())
  var newValue = $(this).attr('camp-status')
    var newClass = campStatus[newValue]
    $('#status-filter-main').removeClass('btn-warning')
    $('#status-filter-main').removeClass('btn-success')
    $('#status-filter-main').removeClass('btn-danger')
    $('#status-filter-main').removeClass('btn-secondary')
    $('#status-filter-main').removeClass('btn-primary')
    $('#status-filter-main').removeClass('btn-light')
    $('#status-filter-main').addClass(newClass)
    $('#status-filter-main').attr('camp-status', $(this).attr('camp-status'))
    var tableRows = $('#main-table tr').slice(1)
    console.log(newValue, newValue != 0)
    if (newValue != 0){tableRows.hide()
    var rowsToShow = tableRows.filter(function(){
      var x = $(this).find('.camp-status button')
      if (x.attr('current-status') == newValue){return true}
      
    })
    rowsToShow.show()
  }
    else {tableRows.show()}
   
    

 
})
updateAllButtons()
function updateAllButtons(){
    // добавление стиля на статус кампании
    var statusBtns = $('td.camp-status button')
    statusBtns.each(function(){
    var curValue = $(this).attr('current-status')
    var newClass = campStatus[curValue]
    $(this).removeClass('btn-warning')
    $(this).removeClass('btn-success')
    $(this).removeClass('btn-danger')
    $(this).removeClass('btn-secondary')
    $(this).removeClass('btn-primary')
    $(this).removeClass('btn-light')
    $(this).addClass(newClass)
})

}
// изменение статуса кампании ( старый)
// var choseNewStat = $('td.camp-status a')
// choseNewStat.click(function(){ 
//     var campId = $(this).closest('tr').attr('id')
//     var choseStatus = $(this).attr('camp-status')
//     var currentStat = $(this).attr('current-status')
//     console.log(choseStatus, 'новый выбранный статус')
//     // console.log(campId, 'id кампании')
//     // console.log(currentStat, 'Текущий статус')
//     if (choseStatus != currentStat){
//         updateApiStatus(campId, choseStatus)
//     }
// })
// var choseNewStat = $('td.camp-status a')


// изменение статуса кампании
$('table').on('click','td.camp-status a',function(){
    console.log($(this), 'xxxxxx')
    var campId = $(this).closest('tr').attr('id')
    var choseStatus = $(this).attr('camp-status')
    var currentStat = $(this).attr('current-status')
    console.log(choseStatus, 'новый выбранный статус')
    // console.log(campId, 'id кампании')
    // console.log(currentStat, 'Текущий статус')
    if (choseStatus != currentStat){
        updateApiStatus(campId, choseStatus)
    }
})



function updateApiStatus(campId, newStatusId){
    var host = window.location.protocol + "//" + window.location.host;
    URL = host + '/api/campaning_detail/' + campId + '/'
    csrfmiddlewaretoken = '{{ csrf_token }}'
    var result = $.post(URL,
    {'status':newStatusId,'csrfmiddlewaretoken': csrfmiddlewaretoken,},
        function(data) {
            console.log('Good send to DB')
            var findBtn = $('tr#'+data.id + ' .camp-status button')
            findBtn.text(data.status.name)
            findBtn.attr('current-status', data.status.id)
            var findLiA = $('tr#'+data.id + ' .camp-status li a')
            findLiA.attr('current-status', data.status.id)
            updateAllButtons()
        });
}

    // фильтрация по соц сетям
    var campRows = $('.table-camps tr').slice(1)
    $('.sn-filter').click(function(){
        // console.log('clicj soc')
        // Соц сети
        // стили кнопок при нажатии
        $('#sn-all').removeClass('active')
        $('.sn-filter').removeClass('btn-outline-primary')
        $('.sn-filter').addClass('btn-primary')
        $(this).removeClass('btn-primary')
        $(this).addClass('btn-outline-primary')
        campRows.hide()
        var buttonClass = $(this).attr('id')
        var toSHow = campRows.filter(function(){
            var res = $(this).find('td.' + buttonClass)
            if (res.length == 0){return false}
            if (res.length != 0){return true}
        })
        toSHow.show()
        })
    $('#sn-all').click(function(){
        // ВСЕ
        // стили кнопок при нажатии
        $(this).addClass('active')
        $('.sn-filter').removeClass('btn-outline-primary')
        $('.sn-filter').addClass('btn-primary')
        campRows.show()
        })
</script>

<script>
    // скрипт для модального окна создания запуска
  
  // показать уведомнление
  // $(document).ready(function(){
  //   console.log('ready')
  //     $("h3").click(function(){
  //       console.log('clock h3')
  //         $(".toast").toast("show");
  //     });
  // });
  
    var curSource = null
    var curAcc = null
    var curCab
    var neww
   API_ANSWER = null;
  var host = window.location.protocol + "//" + window.location.host;
    URL = host + '/api/zapusk/'
    // получение данных для запуска
    $.get(URL, function(data){
      API_ANSWER = data
            // загруска данных по доменам
            var domains = API_ANSWER['domains']
          $.each(domains, function(key, value){
            newElem = $('<li><a class="dropdown-item" href="#">'+ value.name +'</a></li>')
            $('#for-domain').append(newElem)
            newElem.attr('dom-id', value.id)
          })
          // загруска данных по geo
          var geos = API_ANSWER['geos']
          console.log(geos)
          $.each(geos, function(key, value){
            newElem = $('<li><a class="dropdown-item" href="#">'+ value.short_name +'</a></li>')
            $('#for-geo').append(newElem)
            newElem.attr('geo-id', value.id)
          })
      })
  


  // список Акки выделение
    $('.list-group.acc').on('click','button',function(){
        console.log('click list')
        $('.list-group.acc button').removeClass('active')
        $(this).addClass('active')
        // disable кнопок выбора домена
        $('.for-ch-domains button').addClass('disabled')
      })
      // список Кабы выделение
      $('.list-group.cab').on('click','button',function(){
          console.log('click list')
          $('.list-group.cab button').removeClass('active')
          $(this).addClass('active')
  
          curCabId = $(this).attr('dom-id')
          curCab = $.each(API_ANSWER['cabs'], function(key, value){
            if (value.id == curCabId){
              neww = key
              }
          })
          curCab = curCab[neww]
          //console.log(curCab.domain.name)
          // включение кнопок фильтров доменов
          $('.for-ch-domains button').removeClass('disabled')
          $('#linked-doms').trigger('click')
        })
    
    // фильтр доменов выделение кнопок
    $('.btn-group.dom-filter').on('click','button.filter',function(){
    console.log('click list')
    $('.btn-group.dom-filter button.filter').removeClass('active')
    $(this).addClass('active')
    })
  
    // отфильтровать домены привязанные к кабинету
    
    $('#linked-doms').click(function(){
      var list_domains = $('#for-domain li')
      console.log('start filter')
      if (curCab != null){
        var chosen_domain = curCab.domain.get_root_domain
      list_domains.each(function(){
        // console.log($(this).text(), chosen_domain, $(this).text().indexOf(chosen_domain))
        if ($(this).text().indexOf(chosen_domain) == -1) {$(this).hide()} else {$(this).show()}
        // $(this).hide()
      })
      }
    })
    // отоброзить все домены 
    $('#all-doms').click(function(){$('#for-domain li').show()})
  
    // загрузка в список Аккаунтов
    $('.sn').click(function(){
      console.log('source click')
      var sourceId = $(this).attr('source-id')
      var accounts = API_ANSWER['accounts']
      console.log(accounts)
      // отчистка блока с аккаунтами
      $('.acc').empty()
      $('.cab').empty()
      if (accounts.length == 0){$('.acc').append($('<p>Нет аккаунтов</p>'))}
      $.each(accounts, function(key, value){
        console.log(value)
        console.log(value.source.id == sourceId)
          if(value.source.id == sourceId){
            var newItem = $('<button type="button" class="list-group-item list-group-item-action"></button>')
            newItem.text(value.name)
            newItem.attr('acc-id', value.id)
            $('.acc').append(newItem)
          } 
        }) 
      if ($('.acc').children().length == 0){$('.acc').append('<p>Нет аккаунтов</p>')}
    })
    // загрузка кабинетов
    $('.list-group.acc').on('click', 'button', function(){
      $('.cab').empty()
      var cabs = API_ANSWER['cabs']
      var accId = $(this).attr('acc-id')
      // console.log(cabs.length)
      $.each(cabs, function(key, value){
        if(value.account.id == accId){
          var newItem = $('<button type="button" class="list-group-item list-group-item-action"></button>')
          newItem.attr('dom-id', value.id)
          // newItem.text(value.name + ' : ' + value.id)
          newItem.text(value.name)
          $('.cab').append(newItem)
        }
      })
      if ($('.cab').children().length == 0){$('.cab').append('<p>Нет кабинетов</p>')}
    })
  
   
     // фильтрация по соц сетям
    //  var campRows = $('tr').slice(1)
      $('.sn').click(function(){
          // Соц сети
          // стили кнопок при нажатии
          $('#sn-all').removeClass('active')
          $('.sn').removeClass('btn-outline-primary')
          $('.sn').addClass('btn-primary')
          $(this).removeClass('btn-primary')
          $(this).addClass('btn-outline-primary')
          // disable кнопок выбора домена
          $('.for-ch-domains button').addClass('disabled')
          // campRows.hide()
          // var buttonClass = $(this).attr('id')
          // var toSHow = campRows.filter(function(){
          //     var res = $(this).find('td.' + buttonClass)
          //     if (res.length == 0){return false}
          //     if (res.length != 0){return true}
          // })
          // toSHow.show()
          })
  
      $('#sn-all').click(function(){
          // ВСЕ
          // стили кнопок при нажатии
          $(this).addClass('active')
          $('.sn').removeClass('btn-outline-primary')
          $('.sn').addClass('btn-primary')
          campRows.show()
          })
  
      // Выбор домена при нажатии на li
      $('td').on('click','#for-domain li',function(){
        console.log('click doain')
        var domain_text = $(this).text()
        $(this).hide()
        var newElem = $('<button type="button" class="btn btn-light"></button>')
        newElem.text(domain_text)
        newElem.attr('dom-id',$(this).attr('dom-id'))
        
        newElem.append('<button type="button" class="btn-close" target=".schose-domain" aria-label="Close"></button>')
        
        $('.list-group.domains').append(newElem)
        newElem.wrap('<div class="schose-domain"></div>')
      })
  
      // закрытие родительского окна по нажатию на bytton (для  выбранных доменов и гео)
      $('body').on('click','.btn-close',function(){
        console.log('close button')
        var parrentToDel = $(this).attr('target')
        console.log('.list-group')
        $(this).closest(parrentToDel).remove()
      })
  
      // Выбор гео при нажатии на li
      $('td').on('click', '#for-geo li',function(){
        var geo_text = $(this).text()
        $(this).hide()
        var newElem = $('<button type="button" class="btn btn-light"></button>')
        newElem.text(geo_text) 
        newElem.attr('geo-id',$(this).attr('geo-id'))
        newElem.append('<button type="button" class="btn-close" target=".schose-geo" aria-label="Close"></button>')
        $('.list-group.geos').append(newElem)
        newElem.wrap('<div class="schose-geo"></div>')
      })
  

  // блокировка.включение кпопки сохранения запуска
  $('#exampleModal').click(function(){
    //   console.log($('.list-group.domains').children().length == 0, 'длинна выбранных доменов')
    //   console.log($('.list-group.geos').children().length == 0, 'длинна выбранных geo')
      if(curCab == null || $('.list-group.domains').children().length == 0 || $('.list-group.geos').children().length == 0)
      // отключить
       {$('#save-comp').addClass('disabled')} 
       // включить
       else{$('#save-comp').removeClass('disabled')}
  })
  // получения данных запуска
  $('#save-comp').click(function(){
      var domainsIds = []
      var geosIds = []
      var textCamp = $('#camp-text').val()
      var campDaily = $('#camp-daily').val()
      var cabId = curCab.id
      csrfmiddlewaretoken = '{{ csrf_token }}'
      $('.list-group.domains button').each(function(){
        if ($(this).attr('dom-id') != undefined)
        {domainsIds.push($(this).attr('dom-id')); console.log($(this).attr('dom-id'), 'добавленный домен')}
      })
      $('.list-group.geos button').each(function(){
          if ($(this).attr('geo-id') != undefined)
        {geosIds.push($(this).attr('geo-id')); console.log($(this).attr('geo-id'), 'добавленный гео')}
      })
      newCampData = {
        'domains_id': domainsIds,
          'geos_id': geosIds,
          'text': textCamp,
          'cab_id': cabId,
          'daily': campDaily,
          
      }
      var newCampData = JSON.stringify(newCampData);
    //   newCampData = {
    //       'name': 'test',
    //       'phone': "['123', '123']",
    //       'csrfmiddlewaretoken': csrfmiddlewaretoken,
    //   }

      console.log(geosIds, domainsIds, 'geo-doms')
      console.log(newCampData, 'это запрос')
      var host = window.location.protocol + "//" + window.location.host;
      // отправка данных для создания запуска(кампании)
      URL = host + '/api/create_capmaning/'
      $.post(URL,{'data': newCampData, 'csrfmiddlewaretoken': csrfmiddlewaretoken,}, function(data){
      $('.table-camps thead').after(data) // вставка строки в таблицу
      console.log('ответ от сервера',data)
      $('#close-modal').trigger('click')
      $(".toast").toast("show");
      $('.list-group.domains').empty()
      $('.list-group.geos').empty()
      $('.list-group.cab').empty()
      $('.list-group.acc').empty()
      $('#camp-text').val('')
      $('#camp-daily').val('')
      curCab = null;
      updateAllButtons()
      })
      
  })
  
  </script>

{% endblock %}
