{% extends 'office/base.html' %}
{% block content %}
<h1>Checker</h1>
{% if exception %}
{{ exception }}
{% endif %}

<h3 class="{{ site.get_status_html }}">{{ site.check_status }}</h3>
<a href="{{ site.domain }}">{{ site.domain }}</a>
<br>
    <table>
        <thead>
            <tr>
                <th>Поле</th>
                <th>Статус</th>
            </tr>
        </thead>
     {% for key, value in content.items %}
            <tr>
                <td>{{ key }}</a></td>
                <td><p class="{{ value.status }} status" >{{ value.info }}</p></td>
            </tr>
        {% endfor %}
    </table>



{% for x,v in content.items %}
<p>{{ x }} : {{ v }} : {{ v.status }}  {{ v.info }}</p>
{% endfor %}
{{ test }}
{{ test.status }}
{{ test.info }}


{% endblock %}

