{% extends 'office/base.html' %}
{% block content %}
<style>
.find-div{
    text-align: left;
    /* width: 130px; */
    justify-content: left;
    position: relative;
    display: flex;
    height: 30px;
    margin-bottom: 10px;

}
#find-site{
  width: 250px;
  border: 3px solid #262626;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #182720;
}
.searchButton {
  width: 40px;
  height: 100%;
  border: 1px solid #262626;
  background: #262626;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton i{
    margin: 0px;
}
.show-new{
    width: 150px;
    margin-right: 30px;
    height: 30px;
}

</style>
<h1>Сайты</h1>
<br>

<h4>Всего: {{ sites|length|add:"2"}} </h4>
<br>

<div class="find-div">
    <div id="show-new">
        <a class="status status-paid show-new">Только Новые</a>
    </div>
    <input type="text" placeholder="поиск сайта..." id="find-site" style="height: 100%;"> 
    <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
</div>





<br>


    <table>
        <thead>
            <tr>
<!--                <th>Папка beget</th>-->
                <th>Сылка</th>
<!--                <th>Редактор</th>-->
<!--                <th>Log.txt</th>-->
                <th>Прокла</th>
<!--                <th>Checker</th>-->
                <th>Статус</th>
            </tr>
        </thead>
     {% for site in sites %}

            <tr>
<!--            <td>{{ site.site_name }}</td>-->
                <td class="first {{ site.status_sub }}">
                    <a href="{{ site.get_http_site }}" target="_blank">{{ site.site_name }}</a>
                    <div class="icon-block">

                        {% if site.is_new %}
                    <a class="status status-paid new-site">Новый</a>
                    {% endif %}

                        <a href="{{ site.get_https_site }}" target="_blank"><i class="fas fa-lock"></i></a>
                    <a href="{{ site.get_beget_editor }}" target="_blank"><i class="fas fa-user-edit"></i></a>
                   <a href="{{ site.get_log_url }}" target="_blank"> <i class="far fa-address-book"></i></a>
                        </div>
                </td>
<!--                <td><a href="{{ site.get_beget_editor }}" target="_blank">edit</a></td>-->
<!--                <td><a href="{{ site.get_log_url }}" target="_blank">log.txt</a></td>-->
                <td class="site-title">{{ site.title|slice:":30" }}</td>
<!--                <td><a href="{% url 'office:checker' site.id %}">Проверить</a></td>-->
                <td>
                    <p class="status {{ site.get_status_html }}">
                        <a href="{% url 'office:checker' site.id %}" class="status {{ site.get_status_html }}">{{ site.check_status }}</a>
                    </p>
                </td>

            </tr>
        {% endfor %}
    </table>

    <script>
        // Кнопка показать/скрыть не новые сайты
        var butn = $('.show-new')
        var newSiteTo = 'hide'
        $('a.show-new').click(function(){
            var rows = $('tr').slice(1)
            var rowsSiteNew = rows.filter(function(){
                var x = $(this).find($('a.new-site'))
                if (x.length == 0){return false}
                if (x.length != 0){return true}
            })
            if (newSiteTo == 'hide'){
                rows.hide()
                rowsSiteNew.show()
                newSiteTo = 'show'
                butn.text('Все')
                }
            else {
                rows.show()
                newSiteTo = 'hide'
                butn.text('Только Новые')
                }
        })

        // поиск по сатам substring()
        var findInput = $('#find-site')
        var rows = $('tr').slice(1)
        findInput.focus(function(){
            console.log('focus')
            findInput.keyup(function(){
                console.log('key up')
                var rowsWithText = rows.filter(function(){
                // var x = $(this).find($('.site-title:contains("'+ findInput.val().toLowerCase() + '")'))
                var tdBlockText = $(this).find($('.site-title')).text().toLowerCase()
                var text = findInput.val().toLowerCase()
                // console.log(x.text().toLowerCase())
                if (tdBlockText.indexOf(text) != -1){return true}
                })
                rows.hide()
                rowsWithText.show()
            })
        findInput.blur(function(){
            console.log('blur')
            rows.show()
            $(this).val('')
        })
        })
    </script>

{% endblock %}