{% extends 'office/base.html' %}
{% block content %}
<div class="main-wrapper">
    <table class="table">
        <thead class="table-light">
            <tr>
                <!-- <th>Id</th> -->
                <th>ПП</th>
                 <th>Имя</th>
                 <th>Телефон</th>
                 <th>Страна</th>
                 <th>Комм</th>
                 <th>Цена</th>
                 <th>Оффер</th>
                <th>Поток</th>
                <th>Id Лида</th>
                <th>Домен</th>
                <th>Ответ ПП</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
        {% for lead in leads %}
        <tr>
            <!-- <td>{{ lead.id }}</td> -->
            <td>{{ lead.pp_name }}</td>
            <td>{{ lead.name }}</td>
            <td>{{ lead.phone }}</td>
            <td>{{ lead.country }}</td>
            <td>{{ lead.comm }}</td>
            <td>{{ lead.price }}</td>
            <td>{{ lead.offer_id }}</td>
            <td>{{ lead.flow_id }}</td>
            <td>{{ lead.lead_id }}</td>
            <td>{{ lead.domain }}</td>
            <td>{{ lead.pp_answer }}</td>
            <td>{{ lead.created }}</td>
        </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}