{% extends 'office/base.html' %}
{% block content %}
<title>{{ page_title }}</title>
<style>
    .leads-table{
        font-size: 14px;
    }
</style>

<div class="main-wrapper">
    <h6>{{update_count}}</h6>
<a href="{% url 'office:update_leads' %}">Update</a>
    <table class="table leads-table">
        <thead class="table-light">
            <tr>
                <!-- <th>Id</th> -->
                <th>ПП</th>
                 <th>Имя</th>
                 <th>Телефон</th>
                 <th>Страна</th>
                 <th>Комм</th>
                 <th>Цена</th>
                 <th>Оффер</th>
                <th>Поток</th>
                <th>Id Лида</th>
                <th>Домен</th>
                <th>Ответ</th>
<!--                <th>Data</th>-->
                                <th>Status</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
        {% for lead in leads %}
        <tr>
            <!-- <td>{{ lead.id }}</td> -->
            <td>{{ lead.pp_name|default_if_none:"" }}</td>
            <td>{{ lead.name|default_if_none:"" }}</td>
            <td>{{ lead.phone|default_if_none:"" }}</td>
            <td>{{ lead.country|default_if_none:"" }}</td>
            <td>{{ lead.comm|default_if_none:"" }}</td>
            <td>{{ lead.price|default_if_none:"" }}</td>
            <td>{{ lead.offer_id|default_if_none:"" }}</td>
            <td>{{ lead.flow_id|default_if_none:"" }}</td>
            <td>{{ lead.lead_id|default_if_none:"" }}</td>
            <td>{{ lead.domain|default_if_none:"" }}</td>
            <td>{{ lead.pp_answer|default_if_none:"" }}</td>
<!--            <td>{{lead.pp_lead_status}}</td>-->
                        <td style="color: {{lead.get_status_color}};">{{lead.get_status_icon|safe}} {{ lead.get_lead_status_word_ru }}</td>
            <td>{{ lead.created|date:'m.d H:i' }}</td>
        </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}