{% extends 'office/base.html' %}
{% block content %}
<style>
    .code-wrapper{
    background-color: #C0C0C0;
     width: 50%;
     border-radius: 20px;
     padding: 20px;
     display: none;
     max-width: 50%;
<!--     word-wrap: break-word;-->
     overflow: hidden;
    }
</style>
<h1>Реквизиты</h1>

<div>
    <div class="coll-block">
        <h4>Короткие</h4>
        <p>ИП Гребенщиков, УНП 19345252</p>
        <br>
        <p>ИП Гребенщиков</p>
        <p>УНП 19345252</p>
        <p>г.Минск, ул. Радиальная, д. 40</p>
        <p>E-mail: zenitcotrade@gmail.com</p>
        <p>Телефон: +375 29 679-00-99</p>

        <br>
<p>Политика конфиденциальности</p>
<br>
<p>Пользовательское соглашение</p>
    </div>
    <div class="coll-block">
        <h4>Полные</h4>
        <p>ООО «Броникс Запад» 220070, Республика Беларусь</p>
        <p>г. Минск, ул. Радиальная, д. 40, ком. 312</p>
        <p>УНП 193087509, ОКПО 501923705000</p>
        <p>тел.: +375 17 236-77-08, +375 29 638 44 33</p>
        <p>факс: +375 17 236-77-08</p>
        <p>e-mail: bronix.zpd@gmail.com</p>
        <p>ОАО «Приорбанк» ЦБУ 100;220070.</p>
        <p>г. Минск, ул. Радиальная, д. 38а УНП 100665069</p>
        <p>IBAN: BY12 PJCB 3012 0567 3410 0000 0933 BYN</p>
        <p>BIC (SWIFT) PJCBBY2X</p>
        <p>Директор: Гребенщиков Юрий Валерьевич,<br>
            действующий на основании Устава</p>
    </div>
</div>

<h3>{{modal_code}}</h3>
<div class="menu" style="text-align: left">
<!--<a  id="showall">All</a>-->
<a  class="showSingle status status-none" target="1">HTML</a>
<a  class="showSingle status status-none" target="2">CSS</a>
<a  class="showSingle status status-none" target="3">JS</a>

</div>
<br>
<div class="code-wrapper">
<section class="cnt">
<div id="div1" class="targetDiv" style="display: none;">


  <pre>
    <code>
        {{ modal_code.html_code|wordwrap:80 }}
    </code>
  </pre>


</div>
<div id="div2" class="targetDiv" style="display: none;">

<!--    <blockquote>-->
<!--  <pre>-->
<!--    <code>.code-wrapper{-->
<!--     background-color: #C0C0C0;-->
<!--     width: 50%;-->
<!--     border-radius: 20px;-->
<!--     padding: 20px;-->
<!--     display: none;-->
<!--        }-->

<!--    </code>-->
<!--  </pre>-->
<!--</blockquote>-->
    <blockquote>
        <pre>
            <code>
                {{ modal_code.css_code }}
            </code>
        </pre>
    </blockquote>


</div>
<div id="div3" class="targetDiv" style="display: none;">
      <blockquote>
        <pre>
            <code>
                {{ modal_code.js_code }}
            </code>
        </pre>
    </blockquote>
</div>

</section>


</div>
   <h3>Input</h3>
<code><pre>{{ i_agree.html_code }}</pre></code>
<script>
    jQuery(function(){
         jQuery('#showall').click(function(){
               jQuery('.targetDiv').show();
        });
        jQuery('.showSingle').click(function(){
              jQuery('.targetDiv').hide();
              jQuery('.code-wrapper').show();
              jQuery('#div'+$(this).attr('target')).show();
              jQuery('#div'.attr('code-wrapper')).show();
        });
});
</script>
{% endblock %}