{% extends 'office/base.html' %}
{% block content %}
<style>
    .code-wrapper{
    background-color: #C0C0C0;
     width: 50%;
     border-radius: 20px;
     padding: 20px;
     display: none;
     max-width: 50%;
<!--     word-wrap: break-word;-->
     overflow: hidden;
    }
</style>
<h1>Реквизиты</h1>

<div>
    <div class="coll-block">
        <h4>Короткие</h4>
        <p>ИП Гребенщиков, УНП 19345252</p>
                <p>г.Минск, ул. Радиальная, д. 40</p>
        <br>
        <p>ИП Гребенщиков</p>
        <p>УНП 19345252</p>
        <p>г.Минск, ул. Радиальная, д. 40</p>
        <p>E-mail: zenitcotrade@gmail.com</p>
        <p>Телефон: +375 29 679-00-99</p>

        <br>
<p>Политика конфиденциальности</p>
<br>
<p>Пользовательское соглашение</p>
    </div>
    <div class="coll-block">
        <h4>English</h4>
        <p>IP Grebenshchikov, UNP 19345252</p>
        <p>Minsk, st. Radial, 40</p>
                <br>
        <p>IP Grebenshchikov</p>
          <p>UNP 19345252</p>
          <p>Minsk, st. Radial, 40</p>
          <p>E-mail: zenitcotrade@gmail.com</p>
          <p>Phone: +375 29 679-00-99</p>
              <br>
<p>Privacy Policy</p>
<br>
<p>Terms of Use</p>

    </div>
</div>
<div class="examples-block">

    <div class="buttons">
        {% for example in examples %}
        <a class="status status-none bbb" id="{{ forloop.counter0 }}">{{ example}}</a>
        {% endfor %}
    </div>
    <div class="buttons">
      <a class="status status-none ccc" id="html">Html</a>
      <a class="status status-none ccc" id="css">Css</a>
      <a class="status status-none ccc" id="js1">Js</a>
    </div>

    <div class="info">
        {% for example in examples %}
        <pre>
            <code>
            <p class="html {{ forloop.counter0 }}">{{ example.html_code }}</p>
            <p class="css {{ forloop.counter0 }}">{{ example.css_code }}</p>
            <p class="js1 {{ forloop.counter0 }}">{{ example.js_code }}</p>
        </code>
        </pre>

        {% endfor %}
    </div>


</div>
<script>
$(function(){
    // code ...
    var activeBtnStatus = 'active';
    var buttonsOnPage = 2;
    $('.info p').hide();
    $('.ccc, .bbb').click(function(){
        $(this).siblings().removeClass(activeBtnStatus)
        $(this).addClass(activeBtnStatus)
    var classToShow = '';
    var buttonCount = 0;
    $('.' + activeBtnStatus).each(function(){
        console.log($(this).attr('id'))
        classToShow += '.' + $(this).attr('id')
        buttonCount += 1
    })
    if (buttonCount == buttonsOnPage) {
        $('.info p').hide();
        $(classToShow).show()
    }

    // console.log($(classToShow).show())
        // $('.info p').hide(); // hide all info blocks
        // $('.' + $(this).attr('id')).show()

    })
})

function testFunc(){
}
</script>
{% endblock %}